/* trouble shooting ideas:
- put fonts in the default settings outside of the media queries
- remove repetative stuff from inside the media queries
- Just added new min and max for media queries
- once media queries are working, change all font sizes the rem */

body{
font-style: "Roboto Mono", monospace;

  color: #FFFFFF;

}

.centerx{
  display:block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}


.title-block{
  width: 100%;
  height: 85vh;
  background-color: #16213E;
  display: table;
  position: relative;
}

.title{
  position: relative;
  display: table-cell;
  margin-left: 40px;
  margin-top: 10.93rem;
  vertical-align:middle;
}

/* #digtext{
  display: table-cell;
  font-size: 45px;
  font-weight: lighter;
align: left;
} */

#title{
  display:table-cell;
font-weight: bolder;
font-size:70px;
color:#E94560;
align: left;
}

#credit-text{
  display:table-cell;
font-weight: 300;
font-size: 30px;
font-size: 26px;
}

.spacing-block{
width: 100%;
height: 15vh;
background-color: #0F3460;
}

.setup{
background-color: #ffffff;
position: relative;
width: 100%;
height: fit-content;
padding: 3rem 3rem 20px 3rem;
}

#setup{
color: #000000;
font-size: 40px;

}

#setup-desc{
color: #000000;
font-size: 30px;
font-weight: lighter;
margin-top: 20px;
}



.task{
z-index: 100;
width: 100%;
height: 150px;
background-color: #0F3460;
margin-top: 12px;
position: relative;
display: table;
}

.taskd{
z-index: -100;
width: 100%;
height: 240px;
background-color: #533483;
position: relative;
display:table;
}

.conclusion-block{
width: 100%;
height: fit-content;
background-color: #16213E;

padding-left:3rem;
padding-right: 3rem;
padding-top: 3rem;
padding-bottom: 3rem;
}

.finish-block{
width: 100%;
height: 100px;
background-color: #E94560;
}

h3{
font-size: 79px;
display: table-cell;
padding-left: 3rem;
vertical-align: middle;
}
h2{
  text-align: left;
  font-size: 50px;
}
h4{
  font-size:35px;
}


.dcenter{
  display:table-cell;
  vertical-align:middle;
  padding-left:3rem;
  padding-right: 3rem;
  font-size:30px;
  font-weight:lighter;
}

p{
  font-size: 30px;
  font-weight: lighter;
}

@media screen and (min-width: 0px) {

  #title{

  font-size: 4.375rem;
  padding: 3rem;

  }

  #credit-text{

  font-size: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  }

  .dcenter{
    font-size: 1.875rem;
  }
  h4{
    font-size: 1.635rem;
  }
  h3{
    font-size: 4.125rem;
  }
  h2{
    font-size:50px;
  }
  p{
    font-size: 1.4375rem;
    font-weight: lighter;
  }
}

@media screen  and (min-width: 600px){


  #title{

  font-size: 6.875rem;
  padding-left: auto;
  padding-right: auto;

  }

  #credit-text{

  font-size: 2.125rem;
  }
  .dcenter{
    font-size: 1.875rem;
  }
  h4{
    font-size: 2.1875rem;
  }
  h2{
    font-size:3.125;
  }
  p{
    font-size: 1.875rem;
    font-weight: lighter;
  }
}

 @media screen and (min-width: 1200px){



   #title{

   font-size: 8rem;

   }

   #credit-text{

   font-size: 3rem;
   }
   .task{
   height: 17rem;
   }

   #setup{
     font-size: 5.1875rem;
   }
   #setup-desc{
     font-size: 2.375rem;
   }

   .dcenter{
     font-size: 2.5rem;
     font-weight: lighter;
   }
h2{
  font-size:5.1875rem;
}
   .conclusion-block{
     font-size: 2.5rem;
     font-weight: lighter;
     padding-left: 3rem;
     padding-right: 3rem;
     padding-top: 20px;
     padding-bottom: 20px;
   }
   h3{
     font-size: 6.2rem;
   }
   h4{
     font-size:
   }



}
